/* Prefixes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #28364a;
}

body {
  line-height: 1.4;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

/* Basics */
.container {
  max-width: 1100px;
  margin: auto;
}

.relative {
  width: 100%;
  position: relative;
}

/* Button */
.btn-light,
.btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.btn-light {
  background-color: #fff;
  color: #28364a;
}

.btn-light:hover {
  background-color: #d65353;
  color: #fff;
}

.btn-dark {
  background-color: #28364a;
  color: #fff;
}

.btn-dark:hover {
  background-color: #d65353;
  color: #fff;
}

/* Bottom Lines */
.bottom-line {
  height: 2px;
  width: 5.5rem;
  background: #d65353;
  margin-bottom: 1rem;
  /* display: block; */
  /* margin: 0 auto 1rem auto; */
}

.bottom-line-registration {
  height: 2px;
  width: 11.5rem;
  background: #d65353;
  margin-bottom: 1rem;
  /* display: block; */
  /* margin: 0 auto 1rem auto; */
}

.bottom-line-downloads {
  height: 2px;
  width: 10rem;
  background: #d65353;
  margin-bottom: 1rem;
  /* display: block; */
  /* margin: 0 auto 1rem auto; */
}

/* Burger Nav */
#burger {
  display: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 40px;
  height: calc(1.5rem + 9px);
  z-index: 10;
}

.burger-lines {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 40px;
  height: 40px;
  z-index: 9;
  background: rgb(40, 54, 74);
  /* border-radius: 5px; */
}

.burger-lines .line-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.burger-lines .line-container .line {
  width: 75%;
  height: 3px;
  /* margin: 0.25rem 0; */
  /* background: linear-gradient(45deg, #d65353, #d65353, #d65353, #f7c45f); */
  background: linear-gradient(45deg, #d65353, #e87a54);
  /* background: #f5e7e3; */
  position: relative;
}

.before-modal {
  transition: all 0.1s ease-in-out 0.1s, transform 0.1s ease-in-out 0.2s;
}

.after-modal {
  transition: all 0.1s ease-in-out 0.2s, transform 0.1s ease-in-out 0.1s;
}

.burger-lines .line-container .line::before {
  content: "";
  width: 100%;
  height: inherit;
  background: inherit;
  top: 10px;
  position: absolute;
  transition: inherit;
}

.burger-lines .line-container .line::after {
  content: "";
  width: 100%;
  height: inherit;
  background: inherit;
  bottom: 10px;
  position: absolute;
  transition: inherit;
}
#burger:checked ~ .burger-lines .line-container .line {
  transform: rotate(45deg);
}
#burger:checked ~ .burger-lines .line-container .line::before {
  top: 0;
  /* transition: inherit; */
  /* opacity: 0; */
}
#burger:checked ~ .burger-lines .line-container .line::after {
  bottom: 0;
  transform: rotate(-90deg);
  /* transition: inherit; */
  /* opacity: 0; */
}
/* 
.burger-lines .line-container .line:nth-child(1) {
  animation: change-color-back 0.75s ease 0.1s forwards;
}
.burger-lines .line-container .line:nth-child(2) {
  animation: change-color-back 0.75s ease 0.05s forwards;
}
.burger-lines .line-container .line:nth-child(3) {
  animation: change-color-back 0.75s ease forwards;
}

@keyframes change-color-back {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background: linear-gradient(45deg, #d65353, #e87a54);
  }
}

#burger:checked ~ .burger-lines .line-container .line:nth-child(1) {
  animation: change-color 1s ease forwards;
}
#burger:checked ~ .burger-lines .line-container .line:nth-child(2) {
  animation: change-color 1s ease 0.05s forwards;
}
#burger:checked ~ .burger-lines .line-container .line:nth-child(3) {
  animation: change-color 1s ease 0.1s forwards;
}

@keyframes change-color {
  to {
    background: #f5e7e3;
  }
} */

.modal {
  display: none;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: #28364a;
  opacity: 0.9;
  transform: translateY(100%);
}

#burger:checked ~ .modal {
  transform: translateY(0);
}

.modal #mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.modal #mobile-nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.modal #mobile-nav ul li {
  margin: 0.5rem 0;
  font-size: 2em;
}

.modal #mobile-nav ul li a {
  color: #f5e7e3;
  font-weight: bold;
}

/* Navbar */
#navbar {
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  /* height: 9vh; */
  background: transparent;
  /* overflow: hidden; */
}

#navbar .navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  font-size: 1.3em;
  font-weight: bold;
  transition: padding 0.5s ease;
}

/* for javascript */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.after-sticky {
  /* animation: after-stick 1s ease forwards; */
  transition: padding 2s ease !important;
  padding: 1rem 1rem !important;
}

#navbar .navbar-items li {
  transition: all 0.5s ease;
}
/* 
#navbar .navbar-items li #logo-word {
  font-family: "Tokyo";
  letter-spacing: 2px;
  font-weight: 400;
} */

#navbar .navbar-items .navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#navbar .navbar-items .navbar-links li {
  margin: 0 1rem;
  transition: all 0.5s ease;
}

/* #navbar .navbar-items .navbar-links li:first-child {
  margin-left: 0;
  transition: all 0.5s ease;
} */

#navbar .navbar-items .navbar-links > *:hover,
#navbar .navbar-items li:hover,
.modal .mobile.nav ul li {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
/* Header */
#header {
  background: url("../asset/construction.jpg") no-repeat center center/cover
    fixed;
  height: 100vh;
  width: 100%;
  position: relative;
}

#header::before {
  content: "";
  /* background: linear-gradient(0, #d65353, #28364a); */
  background: #f5e7e3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.8;
}

#header .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#header .image-wrapper img {
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: logo-show 4s ease forwards;
  opacity: 0;
}

@keyframes logo-show {
  0% {
    transform: translateY(-5%);
  }

  55% {
    transform: translateY(2%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Navbar after the header */

#navbar-after-header {
  width: 100%;
  z-index: 999;
  position: fixed;
  /* overflow: hidden; */
  top: 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  background: transparent;
}

.show {
  transition: transform 1s ease, opacity 1s ease !important;
  background: #f5e7e3 !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}

#navbar-after-header .navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.3em;
  font-weight: bold;
  transition: padding 0.5s ease;
  height: 3rem;
}

#navbar-after-header .navbar-items li {
  height: 100%;
}

#navbar-after-header .navbar-items li .small-logo {
  height: 100%;
  display: block;
}

/* for javascript */
/* 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.after-sticky {
  /* animation: after-stick 1s ease forwards; */
/* transition: padding 2s ease !important;
  padding: 1rem 1rem !important;
} */

#navbar-after-header .navbar-items .navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#navbar-after-header .navbar-items .navbar-links li {
  margin: 0 1rem;
  transition: all 0.5s ease;
}

#navbar-after-header .navbar-items .navbar-links > *:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

/* About */
#about {
  padding: 2rem;
  background: #fff;
  /* background: linear-gradient(0, #f5e7e3, #e87a54); */
  /* opacity: 0.9; */
}

/* Registration */
#registration {
  padding: 2rem;
  background: #28364a;
  color: #f5e7e3;
}

/* Downloads */
#downloads {
  padding: 2rem;
  background: #fff;
}

#downloads .downloads-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  text-align: center;
  margin: auto;
}

/* Footer */
#main-footer {
  background: #28364a;
  color: #fff;
  /* height: 5rem;  */
  padding: 0.25rem 2rem;
  /* border-top: 2px solid; */
}

#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  min-height: 5rem;
  align-items: center;
  /* max-width: 1100px; Ini apa */
}

#main-footer .footer-content p {
  margin-bottom: 0;
}

#main-footer .footer-content .social i {
  margin: 0 0.5rem;
  color: #fff;
  opacity: 0.7;
  font-size: 1.5rem;
}

/* Footer */
#main-footer .footer-content .social i:hover {
  cursor: pointer;
  /* margin: 0 0.5rem; */
  color: #fff;
  opacity: 1;
}

/* .tentang {
  background: #f5e7e3;
  width: 100%;
  height: 100vh;
} */

@media (max-width: 768px) {
  #navbar {
    display: none;
  }

  #navbar-after-header {
    display: none;
  }

  #burger {
    display: block;
  }

  .burger-lines {
    display: block;
  }

  .modal {
    display: block;
  }

  #downloads .downloads-content {
    display: block;
    max-width: 300px;
  }

  .btn-dark {
    display: block;
    margin: 10px auto;
  }

  #main-footer {
    padding-bottom: 10px;
  }

  #main-footer .footer-content {
    display: block;
  }

  #main-footer .footer-content p {
    display: block;
    margin: auto;
    padding-top: 15px;
    text-align: center;
  }

  #main-footer .footer-content .social {
    /* width: 300px; */
    /* margin: auto; */
    text-align: center;
    padding: 10px;
  }

  #main-footer .footer-content .social i {
    /* margin-left: 10px; */
  }
}

@media (max-height: 555px) {
  #navbar {
    display: none;
  }

  #navbar-after-header {
    display: none;
  }

  #burger {
    display: block;
  }

  .burger-lines {
    display: block;
  }

  .modal {
    display: block;
  }
}
