#navbar{
    background: #28364A !important;
    font-family: "Tokyo";
}

#navbar a{
    color: whitesmoke;
}

#navbar .dropdown-menu a{
    color: black;
}

#navbar a:hover{
    color: #F3A493;
}

#navbar .navbar-nav a:hover{
    background: #1A4C6E;
    color: white; 
}

.background-logo{
    margin: 0;
    background: #D65353;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.logo-container{
    margin: auto;
    background: #D65353;
    max-width: 500px;
    padding: 50px 0;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
